RMSpriteButton.xcodeproj/project.xcworkspace/xcuserdata/rogermolas.xcuserdatad/UserInterfaceState.xcuserstate
RMSpriteButton.xcodeproj/xcuserdata/rogermolas.xcuserdatad/xcschemes/xcschememanagement.plist
